<html>
<title>To-Do List</title>

<body>
<div class="home">
    {% if user.is_authenticated %}
        <div class="navbar">
            <div>Hello, {{ user.first_name }}</div>
            <div><a href="">Logout</a></div>
        </div>
    {% else %}
        <div class="home-welcome">
            <h1>Welcome to To-Do List!</h1>
        </div>
        <div class="home-actions">
            <div class="signup-form">
                <form action="signup" method="post">
                    <div><input type="text" name="name" placeholder="Name" /></div>
                    <div><input type="text" name="username" placeholder="Username" /></div>
                    <div><input type="text" name="email"  placeholder="Email" /></div>
                    <div><input type="password" name="password" placeholder="Password" /></div>
                    <div><input type="password" name="confirm_password" placeholder="Confirm Password" /></div>
                    {% csrf_token %}
                    <div><input type="submit" value="Create an Account" class="submit" /></div>
                </form>
            </div>
            Have an account? <a href="">Log In</a>
        </div>
    {% endif %}
</div>
</body>
</html>
