<html>
<head>
<title>To-Do List</title>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'jquery-1.11.1.min.js' %}"></script>
</head>
<body>
<div class="home">
    {% if user.is_authenticated %}
        <div class="navbar">
            <div>Hello, {{ user.first_name }}</div>
            <div><a href="signout" class="logout">Logout</a></div>

            <div class="date">
                {% if is_today %}
                    <span>Today&nbsp;|&nbsp;</span>
                {% endif %}
                <span>{{ date|date:"l, F d, Y" }}</span>
            </div>

            <div class="items">
                {% if items.count == 0 %}
                    You have no to-do items yet. <a href="create_item" class="create">Create one now.</a>
                {% else %}
                    {% for item in items %}
                        <div class="item">
                            <input id="item_{{ item.id }}" type="checkbox" value="{{ item.id }}"
                                {% if item.status == 'done' %}checked{% endif %} onclick="checkItem({{ item.id }})" />
                            {{ item.name }}
                            <div id="actions_{{ item.id }}" class="right">
                                {% if item.status == 'done' %}
                                    Done
                                {% elif item.status == 'cancelled' %}
                                    Cancelled
                                {% else %}
                                    Cancel
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="home-welcome">
            <h1>Welcome to To-Do List!</h1>
        </div>
        <div class="home-actions">
            <div class="signup-form">
                <form action="signup" method="post">
                    <div><input type="text" name="name" placeholder="Name" /></div>
                    <div><input type="text" name="username" placeholder="Username" /></div>
                    <div><input type="text" name="email" placeholder="Email" /></div>
                    <div><input type="password" name="password" placeholder="Password" /></div>
                    <div><input type="password" name="confirm_password" placeholder="Confirm Password" /></div>
                    {% csrf_token %}
                    <div><input type="submit" value="Create an Account" class="submit" /></div>
                </form>
            </div>
            Have an account? <a href="signin" class="login">Log In</a>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
//$(document).ready(function(){

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function checkItem(item_id) {
        var csrf = getCookie('csrftoken');
        $.ajax({
            url: 'check_item',
            type: 'post',
            data: {
                id: item_id,
                csrfmiddlewaretoken: csrf
            },
            dataType: 'json',
            success: function(json){
                if (json['status'] == 'ok') {
                    $('#success').css('display', 'block');
                    $('#fail').css('display', 'none');
                    if (json['item_status'])
                        $('#actions_' + item_id).html("Cancel");
                    else
                        $('#actions_' + item_id).html("Done");
                } else {
                    $('#fail').text(json['message']);
                    $('#fail').css('display', 'block');
                }
            }
        });
    }

//});
</script>
</body>
</html>
